[submodule ".config/hypr/catppuccin-theme"]
	path = .config/hypr/catppuccin-theme
	url = https://github.com/catppuccin/hyprland
[submodule ".config/kitty/vim-kitty-navigator"]
	path = .config/kitty/vim-kitty-navigator
	url = https://github.com/knubie/vim-kitty-navigator
[submodule ".config/hypr/catppuccin-hyprlock"]
	path = .config/hypr/catppuccin-hyprlock
	url = https://github.com/catppuccin/hyprlock
[submodule ".config/swaync/swaync-catppuccin"]
	path = .config/swaync/swaync-catppuccin
	url = https://github.com/catppuccin/swaync.git
